* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  position: sticky;
  top: 0px;
  color: white;
  background-color: orangered;
  border-bottom: 2px solid black;
}

header img {
  height: 75px;
  margin-left: -220px;
}

header h1 {
  display: inline;
  position: absolute;
  margin: 20px 0px;
}

nav a {
  height: 100px;
}

nav a img {
  height: 100px;
}

#index_nav a img {
  height: 200px;
}

#index_nav {
  text-align: center;
}

.center {
  text-align: center;
}

body{
  background-color: rgb(221, 230, 238);
}

main {
  padding: 20px;
}

main > h3, main > ul{
  margin-left: 130px;
}

main > h2{
  margin-top: 20px;
}

main div ul {
  margin-left: 150px;
}

main > img {
  margin-left: 130px;
  width: 90%;
}

main p {
  font-family: sans-serif;
}

main > div > p{
  margin: 10px;
}

main div h3 {
  margin-left: 150px;
}

h4 {
  margin-top: 30px;
}

h3 {
  margin-top: 20px;
}

ul {
  margin-bottom: 30px;
  padding-left: 20px;
}

.menu_item {
  display: inline;
  position: relative;
  text-align: center;
  color: black;
}

.bottom_text {
  position: absolute;
  font-weight: bold;
  bottom: -80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.w3-sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}

.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-light-gray,
.w3-hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.w3-bar-block .w3-dropdown-hover,
.w3-bar-block .w3-dropdown-click {
  width: 100%;
}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,
.w3-bar-block .w3-dropdown-click .w3-dropdown-content {
  min-width: 100%;
}
.w3-bar-block .w3-dropdown-hover .w3-button,
.w3-bar-block .w3-dropdown-click .w3-button {
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}

.w3-bar-block .side-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.w3-bar-block.w3-center .side-bar-item {
  text-align: center;
}

.w3-bar .side-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
}
.w3-bar-block .side-bar-item {
  width: 100%;
  display: block;
  padding: 5px 15px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.side-bar-item {
  text-align: center;
}

.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.w3-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.w3-button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}
.w3-dropdown-hover:hover > .w3-button:first-child,
.w3-dropdown-click:hover > .w3-button:first-child {
  background-color: #ccc;
  color: #000;
}

.w3-bar-block .w3-dropdown-hover .w3-button,
.w3-bar-block .w3-dropdown-click .w3-button {
  width: 100%;
  text-align: left;
  padding: 8px 15px;
}

.w3-button {
  white-space: normal;
}

.w3-button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}
.active {
  color: #000 !important;
  background-color: #ccc !important;
}
/* css for bullet */
.custom-list {
  list-style: none;
  padding-left: 0;
}
.custom-list li {
  position: relative;
  padding-left: 20px;
}
.custom-list li:before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  background-image: url("assets/bullet.png");
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

 /* Style the container with a rounded border, grey background and some padding and margin */
 .container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 10px 16px 150px;
}

/* Clear floats after containers */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
.container span {
  font-size: 20px;
  margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .container {
    text-align: center;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;
  }
} 